Makefile
Makefile.in
config.h.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
ABOUT-NLS
INSTALL
compile
test-driver

*.gmo
Makevars.template

.DS_Store
Thumbs.db

