Source: gfm
Section: math
Priority: optional
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>= 5), libticables2-1-dev (>= 1.2.0-1), libticalcs2-7-dev (>= 1.1.0-1), libtifiles2-5-dev (>= 1.1.0-1), libticonv3 (>= 1.1.0-1), libgtk2.0-dev, libglade2-dev, zlib1g-dev, kdelibs4-dev, gettext, groff-base, autotools-dev, chrpath
Standards-Version: 3.7.3

Package: gfm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI hand-helds file manipulation program for X
 gfm is a program allowing to create/open/save TI hand-helds files.
 It can group & ungroup files, too.
 .
