Source: tilp2
Section: math
Priority: optional
Maintainer: Romain LIEVIN <roms@tilp.info>
Build-Depends: debhelper (>= 5), libticables2-1-dev (>= 1.2.0-1), libticalcs2-7-dev (>= 1.1.0-1), libtifiles2-5-dev (>= 1.1.0-1), libticonv3 (>= 1.1.0-1), libgtk2.0-dev, libglade2-dev, zlib1g-dev, kdelibs-dev, gettext, groff-base, autotools-dev
Standards-Version: 3.7.3

Package: tilp2
Architecture: any
Replaces: tilp
Conflicts: tilp
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TI hand-helds <-> PC communication program for X
 TiLP2 is a Texas Instruments hand-helds <-> PC communication program for
 Linux. It is able to use any type of link cable (Gray/Black/Silver/Direct
 Link) with any calculator. See http://lpg.ticalc.org/.
 .
 With TiLP, you can transfer files from your PC to your Texas Instruments
 calculator, and vice-versa. You can also make a screen dump, send/receive
 data, backup/restore contents, install FLASH applications or upgrade OS.
