# KDE Config File
[Desktop Entry]
Name=TiLP
GenericName=TI Linking Program
GenericName[fr]=Connexion calculatrices TI
Encoding=UTF-8
Type=Application
Exec=/usr/bin/tilp
Icon=/usr/share/tilp/pixmaps/logo.xpm
MiniIcon=/usr/share/tilp/pixmaps/logo.xpm
DocPath=tilp/index.html
MimeType=application/x-tilp

