name: Build Linux

on:
  push:
    branches: [ master, gtk3 ]
  pull_request:
    branches: [ master, gtk3 ]
  release:
    types: [published]

jobs:
  build:
    name: "Build: ${{ matrix.os }} - GTK+${{ matrix.gtkver }} - static ${{ matrix.statictype }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        statictype: [OFF,ON]
        gtkver: [2,3]
        include:
          - gtkver: 2
            gtk3: OFF
            gtkdep: "libgtk2.0-dev"
          - gtkver: 3
            gtk3: ON
            gtkdep: "libgtk-3-dev"

    steps:
    - name: Checkout Git Repo
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: workaround for default apt mirror connectivity issues
      run: |
        sudo sed -i 's/azure\.//' /etc/apt/sources.list

    - name: Install dependencies
      run: |
        set -e
        sudo add-apt-repository universe
        sudo apt update
        sudo apt install -y cmake ninja-build libarchive-dev libzstd-dev zlib1g-dev libusb-1.0-0-dev libglib2.0-dev gettext nettle-dev libacl1-dev liblzma-dev liblz4-dev libudev-dev libc6-dev libsystemd-dev ${{ matrix.gtkdep }} libglade2-dev intltool

    - name: Get and build and install tilibs
      run: |
        set -e
        cd /tmp
        mkdir lpg_install
        git clone --depth 1 https://github.com/debrouxl/tilibs
        cd tilibs
        mkdir build && cd build
        cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DTRY_STATIC_LIBS=${{ matrix.statictype }} -DCMAKE_INSTALL_PREFIX=/tmp/lpg_install ..
        cmake --build . --target all
        cmake --build . --target install

    - name: Generate tilp+gfm i18n resources
      run: |
        cd  gfm/trunk/po; intltool-update --pot; intltool-update fr; cd ../../..
        cd tilp/trunk/po; intltool-update --pot; intltool-update fr; intltool-update de; cd ../../..

    - name: Build tilp+gfm
      run: |
        set -e
        mkdir build && cd build
        export PKG_CONFIG_PATH="/tmp/lpg_install/lib/pkgconfig:$PKG_CONFIG_PATH"
        cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DTRY_STATIC_LIBS=${{ matrix.statictype }} -DBUILD_USING_GTK3=${{ matrix.gtk3 }} -DCMAKE_INSTALL_PREFIX=/tmp/lpg_install ..
        cmake --build . --target all

    - name: Install tilp+gfm
      run: |
        cd build
        cmake --build . --target install

    - name: Prepare install folder for upload
      run: mv /tmp/lpg_install /tmp/tilp_gfm_linux_gtk${{ matrix.gtkver }}_static${{ matrix.statictype }}

    - name: Upload install folder
      uses: actions/upload-artifact@v3
      with:
        name: tilp_gfm_linux_gtk${{ matrix.gtkver }}_static${{ matrix.statictype }}
        path: /tmp/tilp_gfm_linux_gtk${{ matrix.gtkver }}_static${{ matrix.statictype }}/
